<ion-view view-title="Portfolio">
  <ion-content>
  <div class="card">
 <div class="row">
  <div class="col"><h4>Step 1) - </h4></div>
  <div class="col-90"><h4> <h4 align='center' style="padding-right: 145px">Enter Symbol</h4> </h4></div>
</div>
<button ui-sref="app.portfolio.browseStocks">click here for browse stocks</button>
   <div class="item item-input-inset">
    <label class="item-input-wrapper">
      <input type="text" ng-model="stock" placeholder="Enter a symbol to search">
    </label>
    <button class="button button-small button-balanced" ng-click = "getStock(stock)">
      Search
    </button>
  </div>
  <h2 align='center'>Sector</h2> 
  <div class="row">
  <div class="col" ng-repeat="(key, value) in cIndustries">{{key}}</div>
</div>
</div>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div><br></div>
 <div class="card">
 <div class="row">
  <div class="col"><h4>Step 2) - </h4></div>
  <div class="col-90"><h4> <h4 align='center' style="padding-right: 145px">Select DIstribution</h4> </h4></div>
</div>

 <div class="item item-input-inset">
    <label class="item-input-wrapper">$
      <input type="text" ng-model="invest" >
    </label>
    <button class="button button-small button-balanced" ng-click = "distribute(invest)">
      Buy!
    </button>
  </div>

<div class="row">
    
  <div google-chart chart="chart" class="col" style="{{chart.cssStyle}}"></div>

  <div class="col" style="padding-left: 30px">
    <!-- <div ng-repeat="(key,value) in cIndustries"> -->
   
    <p ng-show ="keys[0]">
     {{keys[0]}}: <input type=range min=0 max=100 value={{aa.data}} data-ng-model="aa.data" ng-change="chart.data[1][1]=1*aa.data"> {{a.data}}| Split: $ {{in1 | number : 2}}
  </p>
  <p ng-show ="keys[1]">
    {{keys[1]}}: <input type=range min=0 max=100 value={{bb.data}} data-ng-model="bb.data" ng-change="chart.data[2][1]=1*bb.data">{{b.data}}| Split: ${{in2 | number : 2}}
  </p>
  <p ng-show ="keys[2]">
    {{keys[2]}}: <input type=range min=0 max=100 value={{cc.data}} data-ng-model="cc.data" ng-change="chart.data[3][1]=1*cc.data">{{c.data}}| Split: ${{in3 | number : 2}}
  </p>
  <p ng-show ="keys[3]">
  {{keys[3]}}: <input type=range min=0 max=100 value={{dd.data}} data-ng-model="dd.data" ng-change="chart.data[4][1]=1*dd.data">{{d.data}}| Split: ${{in4 | number : 2}}
  </p>
  <p ng-show ="keys[4]">
  {{keys[4]}}: <input type=range min=0 max=100 value={{ee.data}} data-ng-model="ee.data" ng-change="chart.data[3][1]=1*ee.data">{{e.data}}| Split: ${{in5 | number : 2}}
  </p>
  <p ng-show ="keys[5]">
  {{keys[5]}}: <input type=range min=0 max=100 value={{ff.data}} data-ng-model="ff.data" ng-change="chart.data[3][1]=1*ff.data">{{f.data}}| Split: ${{in3 | number : 2}}
  </p>

  <!-- </div> -->
  </div>
</div>
</div>
<div><br></div>
<div class="card" ng-if ="in1 || in2 || in3">
   <div class="row">
    <div class="col"><h4>Step 3) - </h4></div>
    <div class="col-90"><h4> <h4 align='center' style="padding-right: 145px">Track your Portfolio</h4> </h4></div>
  </div>
    <div portfolio-chart data="chartData" style="height: 350px;"></div>
</div>

  </ion-content>
</ion-view>
